
.vscode

# Build ignores
_site
.jekyll-cache
_build_tools/file_hash.yaml
_build_tools/file_hash_aperture.yaml
_build_tools/to_be_uploaded/*

# Ruby ignores
!.github
vendor
Gemfile.lock
*.gem
node_modules
package-lock.json
