---
---

:root {
    --primary: #1976D2;
    --primary-light: #63a4ff;
    --primary-dark: #004ba0;
    --complementory: #d27619;
}

@import "main";
@import "post";
@import "font-awesome";
@import "embedded-video";
@import "image-slider.scss";
@import "tables.scss";
@import "top-navigation-bar.scss";