---
layout: post
---

{% assign recipe = site.data.recipes[page.data_file] %}

{% if recipe.image %}
  <img src="{{ recipe.image }}" alt="Image of meal" width="640">
{% endif %}

<br><br>

<table>
  <tr>
    <th align="right">Menge</th>
    <th>Zutat</th>
  </tr>
  
  {% for ingredient in recipe.ingredients %}
    <tr>
      <td align="right">{{ingredient.amount}}</td>
      <td>{{ingredient.item}}</td>
    </tr>
  {% endfor %}
</table>

<b>Zubereitung</b>
<ol>
{% for step in recipe.steps %}
  <li>{{ step }}</li>
{% endfor %}
</ol>

{{ content }}