
<div class="blog-post-entry content-box">

    <div class="header">

        <div class="header-row">
            <a class="title" href="{{ post.url }}">
                <span>{{ post.title }}</span>
            </a>
            <div class="empty-space">&nbsp;</div>
            <div class="category">{{ post.categories[1] }}</div>
        </div>   
        
        <div class="header-row">
            <span style="font-weight: bold">Tags:</span>&nbsp;{{ post.tags | join: ", " }}
            <div class="empty-space">&nbsp;</div>
            <div class="date">{{ post.date | date: site.data.date-format.full-date }}</div>
        </div>
    </div>

    <hr>

    <div class="excerpt">
        {{ post.excerpt }}
    </div>

    <div class="read-more-container">
        <a class="read-more" href="{{ post.url }}">Read more</a>
    </div>
</div>
