
<div class="blog-post-entry">

    <a class="header" href="{{ post.url }}">
        
        <div class="header-row">
            <div class="title"><span>{{ post.title }}</span></div>
            <div class="category">{{ post.categories[1] }}</div>
        </div>
        
        <div class="tags">
            <span style="font-weight: bold">Tags:</span> {{ post.tags | join: ", " }}
        </div>

    </a>

    <hr>

    <div class="excerpt">
        {{ post.excerpt }}
    </div>

    <div class="read-more-container">
        <a class="read-more" href="{{ post.url }}">Read more</a>
    </div>

</div>
