
<!-- Side Navigation Bar -->
<div class="sidebar content-box">
    <h3 class="sidebar-header">Recent<br>Dailies + Art</h3>

    {% assign daily_posts = site.posts | where: "categories", "daily" %}
    {% assign art_posts = site.posts | where: "categories", "art" %}
    {% assign sidebar_posts = daily_posts | concat: art_posts %}

    {% for post in sidebar_posts limit:10 %}
        <a href="{{ post.url }}" class="sidebar-item sidebar-link"><span>{{ post.title }}</span></a>
    {% endfor %}
</div>
