
{% assign active_tab = include.active | default: "home" %}

<div class="topnavbar" id="topnavbar">

    <a href="/" {% if active_tab == "home" %}class="active"{% endif %}>Home</a>
    <a href="/blog/"{% if active_tab == "blog" %}class="active"{% endif %}>Blog</a>
    <a href="/story/"{% if active_tab == "story" %}class="active"{% endif %}>Story</a>
    <a href="/art/"{% if active_tab == "art" %}class="active"{% endif %}>Art</a>
    <a href="/daily/"{% if active_tab == "daily" %}class="active"{% endif %}>Daily</a>

    
    <button class="hamburger-icon" type="button" onclick="toggleResponsiveNavbar()">
        <i class="fa fa-bars"></i>
    </button>
</div>

<script src="/assets/js/top-navigation-bar.js"></script>