
.blog-post-entry .header .header-row {
    display: flex;
}

.blog-post-entry .header .header-row a.title {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--font-color-dark);
    border-bottom: 0;
    align-self: flex-start;
    font-weight: bold;
    font-size: larger;
}

.blog-post-entry .header .header-row .title span {
    border-bottom: 1px solid #bfbfbf;
}

.blog-post-entry .header .header-row a.title:hover {
    color: var(--primary-dark);
}

.blog-post-entry .header .header-row .empty-space {
    flex: 1 1 auto;
}

.blog-post-entry .header .header-row .category {
    align-self: flex-end;
    text-align: right;
}

.blog-post-entry .header .header-row .date {
    align-self: flex-end;
    text-align: right;
}

.blog-post-entry .read-more-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.blog-post-entry .read-more-container a.read-more {
    border-bottom: 1px solid rgb(190, 190, 190);
    color: var(--font-color-dark);
}

.blog-post-entry .read-more-container a.read-more:hover {
    color: var(--primary-dark);
}
