
.sidebar {
    position: -webkit-sticky; // For Safari
    position: sticky;
    width: 240px;
    height: 100%;
    z-index: 1;
    top: 80px;
    right: 0;
    background-color: #ebebeb;
    overflow-x: hidden;
    margin-left: 20px;
}

.sidebar h3 {
    margin-top: 10px;
}

.sidebar .sidebar-item {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: auto;
    display: block;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .sidebar {
        display: none;
    }
}
