---
---

:root {
    --primary: #1f94f3;
    --primary-light: #6dc4ff;
    --primary-dark: #0067c0;

    --complementory: #f37e1f;

    --font-color-light: #f2f2f2;
    --font-color-dark: #000000;
}

@import "main";
@import "post";
@import "font-awesome";
@import "embedded-video";
@import "image-slider.scss";
@import "tables.scss";
@import "top-navigation-bar.scss";
@import "blog-post-entry.scss";
@import "sidebar.scss";