---
layout: compress
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Ash" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>thelifeofash</title>
        <link rel="stylesheet" href="/assets/css/0000/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Sets the favicon to a UTF-8 Emoji -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.favicon }}</text></svg>">

        <script src="/assets/js/load-sidebar.js"></script>

        {% feed_meta -%}
    </head>
    <body onload="load_sidebar('/assets/data/sidebar/sidebar_data_home.json')">

        <!-- Top Navigation Bar -->
        {% if page.collection == "posts" %}
            {% include top-navigation-bar.html active=layout.active-tab %}
        {% else %}
            {% include top-navigation-bar.html active=page.active-tab %}
        {% endif %}

        <div class="viewport">

            <!-- Website Content -->
            <div class="website-container">
                {{ content }}
            </div>

            {% include sidebar.html %}
        </div>

        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4d673bcf198147459ba3308db87ef914"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
